* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(https://assets.codepen.io/237800/universe-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}
